.logo_wrapper {
	margin: 0 auto;
	text-align: center;
}
.center {
	margin: 0 auto;
}
.menu_item {
	font-size:10pt;
	padding-top:10px;
	font-style:italic;
}
.toggle_bookmark_button {
	float:right;
	right:5px;
	top:5px 
}

#search_wrapper {
	padding-bottom:20px
}

#footer {
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:30px
	padding-top:5px;
	padding-bottom:5px;
}
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	font-family:arial;
	font-size:12pt;
	padding-right:20%;
}
